
<% if comment.user == current_user %>
<%= link_to edit_comment_path(comment, :challenge_id => @challenge.id), class: 'btn btn-xs' do %>
<i class="glyphicon glyphicon-edit"></i>
<% end %>
<%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' do %>
<i class="glyphicon glyphicon-remove"></i>
<% end
end %>

<div class="well well-sm">
    <div>
        <strong><%= comment.user.email if comment.user %> wrote: </strong><br>
        <%= comment.message %>
    </div>
</div>
