
<% if activity.trackable && activity.trackable.challenge %>


        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-success">
                    <i class="entypo-feather"></i>
                </div>

                <div class="timeline-label">
                    <h2><%= activity.trackable.user.name %> <span>posted a comment on <%= link_to activity.trackable.challenge.name, activity.trackable.challenge %></span></h2>
                    <p> <%= activity.trackable.message %>
                </div>
            </div>

        </article>
<% else %>
<% end %>