
  <div class="timeline-centered col-md-8">

<%  PublicActivity::Activity.paginate(:page => params[:page], :per_page => 20).order("created_at desc").each do |activity| %>
    <%= render_activity activity %>
<% end %>

  </div>
