<% @challenge.participations.limit(3).each do |participations|
gain = (participations.total_gain.to_f/@challenge.distance) * 100
if gain < 100 %>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= gain %>%">
    <%= participations.user.name %>
  </div>
</div>
<% else %>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <%= participations.user.name %> is done!
  </div>
</div>
<% end
end %>
